* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #ff6900;
}
nav {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: 70px;
    padding-top: 8px;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav span {
    color: white;
}
header nav svg {
    color: white;
}

.second-nav.container {
    justify-content: center;
}
.third-nav-container {
    justify-content: flex-end;
}
hr {
    color: white;
    height: 45px;
    border: none;
}

/* MAIN  */
.containers {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
}
.first-container, .second-container, .third-container {
    padding: 10px;
    position: relative;
}
.discount {
    color: red;
}
.pic {
    width: 400px;
}
.style-text {
    font-size: 12px;
}
.discount-image {
    background-color: red;
    color: white;
    position: absolute;
    bottom: 100px;
    padding: 5px 8px;
}
.sustainability {
    background-color: green;
    color: white;
    position: absolute;
    bottom: 100px;
    left: 58px;
    padding: 5px 8px;
}
.heart {
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 4px;
    position: absolute;
    bottom: 580px;
    right: 5px;

}
