* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: orange;
}
nav {
    max-width: 980px;
    width: 100%;
}
.nav-container {
    display: flex;
    justify-content: space-between;
}