* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #ff6900;
}
nav {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: 70px;
    padding-top: 8px;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gender ul  {
    display: flex;
}
.first-nav-container ul li {
    list-style: none;
    padding: 4px;
}
.first-nav-container ul li a {
    text-decoration: none;
    color: white;
}

.second-nav.container {
    justify-content: center;
}
.third-nav-container {
    justify-content: flex-end;
}
hr {
    color: white;
    height: 45px;
    border: none;
}
.icon {
    fill: white;
}

/* MAIN  */
.containers {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
}
.first-container, .second-container, .third-container {
    padding: 10px;
    position: relative;
}
.discount {
    color: red;
}
.pic {
    width: 390px;
}
.style-text {
    font-size: 12px;
}
.discount-image {
    background-color: red;
    color: white;
    position: absolute;
    bottom: 100px;
    padding: 5px 8px;
}
.sustainability {
    background-color: green;
    color: white;
    position: absolute;
    bottom: 100px;
    left: 58px;
    padding: 5px 8px;
}
.second-sustainability {
    background-color: green;
    color: white;
    position: absolute;
    bottom: 100px;
    padding: 5px 8px;
}
.heart {
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 4px;
    position: absolute;
    bottom: 570px;
    right: 5px;
}

.first-pic:hover {
    background-image: url(../img/1b.webp);
}


/* FOOTER  */
footer {
    background-color: black;
}
.div-footer {
    max-width: 1200px;
    width: 100%;
    color: white;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.row {
    height: 35px;
    color: black;
}
.contacts ul li, .info ul li {
    list-style: none;
}
.info ul {
    display: flex;
}
.info ul li a {
    text-decoration: none;
    color: white;
    padding-top: 10px;
    padding-right: 7px;
    display: inline-block;
}

.contacts ul {
    display: flex;
}
.contacts ul li {
    padding-top: 8px;
    padding-right: 10px;
}

